processed_data/escape_data.csv filter=lfs diff=lfs merge=lfs -text
plot_data.ipynb filter=nbstripout
plot_data.ipynb diff=ipynb
processed_data/escape_data_mutation.csv filter=lfs diff=lfs merge=lfs -text
processed_data/escape_data_site.csv filter=lfs diff=lfs merge=lfs -text
